<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [340, 370]
    Dashing.numColumns = 3
    Dashing.numRows = 5
    Dashing.cycleDashboards({timeInSeconds: 60, stagger: false });
  });
</script>
<% content_for :title do %>DSI Service Delivery dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="snow-15-backlog" data-view="Pie" data-title="DSI Delivery" data-values="yes"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/bks-it.png" data-text="Service Delivery" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="incident_ibm_grppie" data-view="Pie" data-title="IBM" data-values="yes"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="snow-17-backlog" data-view="Tendance" data-title="Non assigné" data-graphtype="bar" data-cumulated="false" data-cool="5" data-warm="10"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="snow-18-backlog" data-view="Tendance" data-title="Backlog VIP" data-graphtype="bar" data-cumulated="false" data-cool="2" data-warm="5"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1" >
          <div data-id="myTendancehd" data-view="Tendance" data-title="Backlog HD" data-graphtype="bar" data-cumulated="false" data-cool="5" data-warm="10"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="snow-13-backlog" data-view="Backlog" data-title="Volume tickets" data-graphtype="line" data-raw="true" data-cumulated="true" data-legend="false"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nxt-devicesLD2" data-view="Barista" data-unordered="false" data-title="PC en fonction"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="snow-14-backlog" data-view="Backlog" data-title="Backlog global" data-graphtype="bar" data-mean="true" data-raw="true" data-cumulated="true" data-legend="true"></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ldap-1-locked" data-view="Tendance" data-title="Cpte verouillé" data-graphtype="area" data-cumulated="false" data-cool="5" data-warm="10"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="os-count" data-view="Milkman" data-title="OS inventory"></div>
    </li>

    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="inc-heatmap" data-view="Heatmap" data-domain="hour" data-subdomain="min" data-title="Carte des incidents"></div>
    </li>

    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/favicon.ico" data-text="Future Use" style="background-color:#ffffff;"></div>
    </li>

  </ul>
</div>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wordpress" data-view="News" data-title="Brink's news" data-interval="20" style="background-color:#0039aa;"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/bks-it.png" data-text="Service Delivery" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="quote" data-view="Quote"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/servicenow.png" data-text="Incicents Service Now des 4 dernières heures &#8608;" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <iframe src="http://frmonbcastapp01.emea.brinksgbl.com:5601/app/kibana#/visualize/edit/0f4cda80-13b6-11e7-a53b-b3a20f3ef170?embed=true&_g=(refreshInterval%3A(display%3A'1%20minute'%2Cpause%3A!f%2Csection%3A2%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-4h%2Cmode%3Aquick%2Cto%3Anow))" height="368px" width="800"></iframe>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <iframe src="http://frmonbcastapp01.emea.brinksgbl.com:5601/app/kibana#/visualize/edit/dd152480-12f4-11e7-b6be-c975ec0227c4?embed=true&_g=(refreshInterval%3A(display%3A'1%20minute'%2Cpause%3A!f%2Csection%3A2%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-12h%2Cmode%3Aquick%2Cto%3Anow))" height="368px" width="100%"></iframe>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/servicenow.png" data-text="&#8606; Evénements Service Now des 12 dernières heures" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="cash_srv-databases" data-view="Table" data-title="Connexion Databases" ></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="snow-16-backlog" data-view="Backlog" data-title="Tickets 2 Semaines" data-graphtype="bar" data-raw="true" data-cumulated="true" data-legend="false"></div>
    </li>

    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="chuck" data-view="Text"></div>
    </li>

  </ul>
</div>
