<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [340, 370]
  Dashing.numColumns = 3
  Dashing.numRows = 5
  Dashing.cycleDashboards({timeInSeconds: 15, stagger: false });
});
</script>

<% content_for :title do %>EUS dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/brinks.png" data-text="END USER SUPPORT" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="snow-inc-eus-backlog" data-view="Backlog" data-graphtype="bar" data-title="Incidents restant ouverts" data-legend="false" style="background-color:#968818"></div>
      <i class="icon-exclamation-sign icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="eus-sev12" data-view="Table" data-title="Incidents P1/P2" ></div>
    </li>
    
    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="cash_srv-databases" data-view="Table" data-title="Connexion Databases" ></div>
    </li>
  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="5">
      <div data-view="Image" data-image="/end-user-support.png" data-text="END USER SUPPORT" style="background-color:#ffffff;"></div>
    </li>
  </ul>
</div>
