<script type='text/javascript'>
$(function() {
  Dashing.GridsterLayout('[[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1}]]')
 });
  Dashing.widget_base_dimensions = [370, 340] // 370,340 initialement
  Dashing.numColumns = 5
</script>

<% content_for :title do %>Test de Heat Map<% end %>

<div class="gridster">
  <ul>
    <!-- <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="inc-heatmap" data-view="Heatmap" data-domain="day" data-subdomain="hour" data-title="Incidents"></div>
    </li> -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="inc-heatmap" data-view="Heatmap" data-domain="hour" data-subdomain="min" data-title="Carte des incidents"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/bks-snow.png" data-text="Support sur site" style="background-color:#ffffff;"></div>
    </li>
  </ul>

</div>
