<% content_for :title do %>Unassigned tasks<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unassigned_tasks" data-view="Meter" data-title="Unassigned tasks in our team" data-min="0" data-max="25"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="all_active_incidents" data-view="Meter" data-title="All active incidents" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="snow-in-ci-1" data-view="Milkman" data-title="CRITICAL / CMDB CI"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="snow-in-ci-2" data-view="Milkman" data-title="IMPORTANT / CMDB CI"></div>
    </li>


  </ul>
</div>
