<% content_for :title do %>Unassigned tasks<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unassigned_tasks" data-view="Meter" data-title="Unassigned tasks in our team" data-min="0" data-max="25"></div>
    </li>
  </ul>
</div>