<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [340, 370] // 370,340 initialement
   Dashing.numColumns = 3
   Dashing.numRows = 5
 });
 </script>

<% content_for :title do %>Le coin de la virtu<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-vcentermop" data-view="Vcenter" data-title="vCenter MOP"></div>
      <i class="icon-sitemap icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-vcenterpar" data-view="Vcenter" data-title="vCenter PARIS"></div>
      <i class="icon-sitemap icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/bks-it.png" data-text="vCENTER INFO" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-horizonadm" data-view="Vcenter" data-title="HORIZON ADM"></div>
      <i class="icon-sitemap icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-horizonpodb4" data-view="Vcenter" data-title="vCenter POD B4"></div>
      <i class="icon-laptop icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-horizonpodg1" data-view="Vcenter" data-title="vCenter POD G1"></div>
      <i class="icon-laptop icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-vsan" data-view="Vcenter" data-title="VIRTUAL SAN" style="background-color:#406060;"></div>
      <i class="icon-stackexchange icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-nfs" data-view="Vcenter" data-title="NFS" style="background-color:#406060;"></div>
      <i class="icon-stackexchange icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vc-vmfs" data-view="Vcenter" data-title="VMFS" style="background-color:#406060;"></div>
      <i class="icon-stackexchange icon-background"></i>
    </li>

    <li data-row="3" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="vc-datastore" data-view="Table" data-title="Détail datastore" data-moreinfo="Order by % free space" style="background-color:#406060;"></div>
    </li>

  </ul>
</div>
